# Genel
.env
.env.local
.env.*.local
*.log
.DS_Store

# Node.js / NestJS
node_modules/
dist/
coverage/

# Go
go-service/tmp/
*.exe
*.test

# IDE
.idea/
.vscode/

# Docker
docker-compose.override.yml

# Database
pgdata/
